#sobre {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: .5%;
}

#sobre > p {
    height: 33%;
    width: 20%;
    text-align: center;
}

#sobre-icones {
    height: 33%;
    width: 20%;
    text-align: center;
}

#sobre-icones > img {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
}

#foto {
    height: 100%;
    justify-content: start;
    padding: .5%;
}

#foto > img {
    height: 100%;
    border-radius: 50%;
}