:root {
    /* Paleta de Cores */
    --cor1: #FBFAFF;
    --cor2: #F4EFFA;
    --cor3: #EBD9FC;
    --cor4: #D4BBFC;
    --cor5: #9B72CF;
    --cor6: #9667E0;
    --cor7: #532B88;
    --cor8: #2F184B;

    /* Cores */
    --background-nav: var(--cor6);

    --sombra: var(--cor8);

    --fonte-clara: var(--cor2);
    --fonte-escura: var(--cor8);
}

#icone {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: .5%;
}

#menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    gap: 10%;
}

#login {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 5%;
}

#icone-img {
    height: 100%;
}

#login-img {
    height: 75%;
}

#login-texto {
    font-size: 125%;
    text-shadow: .15vh .15vh var(--sombra);
    color: var(--fonte-clara);
}

.menu-itens {
    font-size: 150%;
    font-weight: 500;
    text-shadow: .175vh .175vh var(--sombra);
    color: var(--fonte-clara);
}

.barra-vertical {
    height: 75%;
    width: .5%;
}