:root {
    /* Paleta de Cores */
    --cor1: #FBFAFF;
    --cor2: #F4EFFA;
    --cor3: #EBD9FC;
    --cor4: #D4BBFC;
    --cor5: #9B72CF;
    --cor6: #9667E0;
    --cor7: #532B88;
    --cor8: #2F184B;

    /* Outras cores */
    --background: var(--cor6);
}

.caixa {
    background-color: #3F51B5;
}

.titulo {
    color: white !important; 
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    color: white !important;
    background-color: #3F51B5;
}

.postagens {
    background-color: white;
}